header {
  height: 60px;
  background-color: var(--dark-accent-color);
  box-shadow: 0px 1px 2px lightgray;
  font-size: 24px;
  display: flex;
  align-items: center;
  padding: 30px;
  color: white;
}

.app-container {
  padding: 30px 200px;
}
